<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sketchs Les Inconnus - Le Parisien</title>
<meta name="description" content="Les Inconnus. Avec Le Parisien Vidéos, retrouvez tous les sketchs des Inconnus. Les Chasseurs, la Révolution, Des chiffres et des lettres juives, Manu et les Branleurs." />
<meta name="keywords" content="" />
<meta name="robots" content="noindex,follow">
<link rel="canonical" href="http://www.myskreen.com/l-integrale-des-inconnus/"/>
<link rel="shortcut icon" href="http://www.leparisien.fr/favicon.ico" />
<script type="text/javascript" src="http://www.leparisien.fr/partenaires/header-videos.js"></script>
<script type="text/javascript" src="http://www.leparisien.fr/partenaires/footer.js"></script>
<script type="text/javascript" src="http://www.leparisien.fr/scripts/smartad.js"></script>

{% stylesheets
  '@SkreenHouseFactoryPartnersBundle/Resources/public/less/leparisien.less'
  filter='lessphp,?yui_css'
  output='css/partners-leparisien.css'
  %}
  <link href="{{ asset_url }}?{{ 'now'|date('dm') }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% javascripts
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.10.2.min.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/modernizr.min.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/api.js'
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/helpers.js' 
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/_ui.js' 

      filter='?yui_js' 
      output='js/compiled/partners-core.js'  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% javascripts
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/channel.js'
      filter='?yui_js' 
      output='js/compiled/pages/channel.js'  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
</head>

<body class="defaut view-channel-65" id="view-page">

<!-- **************** HEADER PARISIEN **************** -->
<script type="text/javascript">
<!--
document.write(header_lp);
-->
</script>

<div class="position-pub top largeurpage">
    <script type="text/javascript">
          sas_pageid='2358/375803';
          sas_formatid=630;
          sas_target='';
          SmartAdServer(sas_pageid,sas_formatid,sas_target);
    </script>
</div>

<script type="text/javascript">  document.write(sousnav_lp);</script>
<div class="parisien-section une-edito clearfix" id="myskreen">
  {% block content endblock %}
</div>


<div class="position-pub top largeurpage">
    <script type="text/javascript">
          sas_pageid='2358/375803';
          sas_formatid=651;
          sas_target='';
          SmartAdServer(sas_pageid,sas_formatid,sas_target);
    </script>
</div>
<!-- **************** FOOTER/ **************** -->
<script type="text/javascript">
<!--
document.write(footer_lp);
-->
</script>




{% if app.environment == 'prod' %}
{% include 'SkreenHouseFactoryV3Bundle::_ga.html.twig' with {tag: 'UA-6151896-17'} %}
{% include 'SkreenHouseFactoryV3Bundle::_chartbeat.html.twig' %}


<script type="text/javascript">
//<!--
xtnv = document; //parent.document or top.document or document 
xtsd = "http://logp2";
xtsite = "40086";
xtn2 = "31"; // level 2 site
xtpage = "Videos::Partenaires::Les-inconnus::Home"; //page name (with the use of :: to create chapters)
xtdi = ""; //implication degree
//-->
</script>
<script type="text/javascript" src="http://www.leparisien.fr/xtcore.js"></script>
<script type="text/javascript" src="http://www.leparisien.fr/xtclicks.js"></script>
<noscript><img width="1" height="1" alt="" src="http://logp2.xiti.com/hit.xiti?s=40086&s2=31&p=Videos::Partenaires::Les-inconnus::Home&di=&">
</noscript>

<!-- /Marqueur XITI -->

{% endif %}

</body>
</html>
