{% extends 'SkreenHouseFactoryPartnersBundle::liberation.html.twig' %}

{% block title %}title{% endblock %}
{% block description %}desc{% endblock %}


{% block content %}
{% stylesheets
    '@SkreenHouseFactoryPartnersBundle/Resources/public/less/liberation.less'
      filter='less,?yui_css'
      output='css/liberation.css'
      %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}

<div id="view-home">
  {#
  <div class="pull-right">
    <form class="search" id="myskreen-search" action="http://www.myskreen.com/programmes/" method="get" accept-charset="utf-8">
    <input type="text" name="q" value="" placeholder="Un programme, un acteur, une chaîne, etc."><input type="submit" value="Rechercher avec mySkreen">
    </form>
  </div>
  #}
  {% for slider in home.sliders if slider.id is defined %}
    {% if loop.first %}
      <div class="main-slider">
      <div class="main-slider-title">
      <h1>Replay TV</h1>
      </div>
      <div class="carousel-container">{% include 'SkreenHouseFactoryV3Bundle:Main:_carousel.html.twig' with {slider: slider, skip_autoload: true, skip_like: true} %}</div>
      </div>
    {% else %}
      {% if loop.index == 2 %}<div class="container">{% else %}<hr/>{% endif %}
      <a name="{{ slider.name }}"></a>
      {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}
    {% endif %}
  {% endfor %}
  </div>
  <br/>
  <p align="right"><a href="http://www.myskreen.com/programme-tv">Replay</a> avec <a href="http://www.myskreen.com">mySkreen</a></p>
</div>

{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.8.3.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/modernizr.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/_api_env.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/api.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/slider.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/helpers.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/_ui.js' 

    filter='?yui_js' 
    output='js/compiled/liberation.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
API.init();
UiView.init($('#view-home'));

setTimeout(function(){
  $('#myskreen-search').live('submit', function(e){
    e.preventDefault();
    document.location = $(this).attr('action') + encodeURIComponent($(this).find('input[name="q"]').attr('value'));
    return false;
  });
}, 1000);
</script>

<script type="text/javascript">
<!--
xtnv = document;        //parent.document or top.document or document         
xtsd = "http://logliberation";
xtsite = "386916";
xtn2 = "1";        // level 2 site ID
xtpage = "MySkreen";        //page name (with the use of :: to create chapters)
xtdi = "";        //implication degree
xt_multc = "";		//all the xi indicators (like "&x1=...&x2=....&x3=...")
xt_an = "";        //user ID
xt_ac = "";        //category ID
//do not modify below
if (window.xtparam!=null){window.xtparam+="&ac="+xt_ac+"&an="+xt_an+xt_multc;}
else{window.xtparam="&ac="+xt_ac+"&an="+xt_an+xt_multc;};
//-->
</script>
<script type="text/javascript" src="http://s0.libe.com/cache/js/1883037ffeac.js"></script>
<noscript>
<img width="1" height="1" alt="" src="http://logliberation.xiti.com/hit.xiti?s=386916&s2=1&p=MySkreen&di=&an=&ac=" >
</noscript>

{% include 'SkreenHouseFactoryV3Bundle::_ga.html.twig' with {tag : 'UA-6151896-16'} %}
{% endblock %}